




@media(min-width: 1269px){
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
		}

	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut li a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-family: 'PalanquinDark';
	  font-size: 3.5rem;
	  margin: 5rem 0 2rem 20rem;
	  text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 110%;
	  
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

	  
	  display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  margin: 0 1em;
	  list-style: none;
	  font-size: 1.75em;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}




	/*--------------------------------------------------*/
	#img_grandgueret{
	  display: flex;
	  justify-content: center;
	  margin: 10rem 0;
	  margin-bottom: -200px;
	}
	#img_grandgueret img{
	  
	  width: 70%;
	  
	}



	/*  Le haut de la page avec logo et tout */





	/*  Nagivateur avec images */

	/*
	.navigateurBoxP1{
		display: flex;
		justify-content: center;
	}

	.choix{
		background: white;
		width:260px;
		height:300px;
		margin:15px;
		border-radius: 15px;
	}

	.choix h2{
		text-align: center;
		font-size: 15px;
		font-family: Georgia, serif;
	}

	.c-image{
		background-color:blue;
		height: 200px;
		margin-bottom:5px;
		background-size:cover;
		border-radius: 15px;
	}
	
	.c1{
		background-image: url(./img/city.png);
	}

	.c2{
		background-image: url(./img/eco.png);
	}

	.c3{
		background-image: url(./img/ame.png);
	}

	.c4{
		background-image: url(./img/politic.png);
	}

	.c5{
		background-image: url(./img/transport.png);
	}


	.navigateurBoxP2{
		display: flex;
		justify-content: center;
	}


	.c6{
		background-image: url(./img/envir.png);
	}

	.c7{
		background-image: url(./img/ch.png);
	}

	.c8{
		background-image: url(./img/tourism.png);
	}

	.c9{
		background-image: url(./img/tierlieu.png);
	}

	.c10{
		background-image: url(./img/europe.png);
	}

	.BoxChoix{
		background: linear-gradient(to right,#B0F04D,#EED5EC);
		height: 70%;
		width: 80%;
		border-radius: 10px;
		margin: auto;
		box-shadow: 10px 10px 5px 12px #F0F8FF;
	}

	.RegroupBoxChoix{
		background: #2c3e50;
	}
	*/





	/* Ici c'est juste une petite décoration pour séparer les sections  */


	.separateur {
	  position: relative;
	  background: #2c3e50;
	  height: 20vh;
	}

	.vag {
	  position: absolute;
	  height: 98px;
	  width: 100%;
	  background: #2c3e50;
	  bottom: 0;
	}

	.vag::before, .vag::after {
	  content: "";
	  display: block;
	  position: absolute;
	  border-radius: 100% 50%;
	}

	.vag::before {
	  width: 55%;
	  height: 109%;
	  background-color: #fff;
	  right: -1.5%;
	  top: 60%;
	}
	.vag::after {
	  width: 55%;
	  height: 100%;
	  background-color: #2c3e50;
	  left: -1.5%;
	  top: 40%;
	}




	.separateur2 {
	  position: relative;
	  background: #2c3e50;
	  height: 20vh;
	  border-bottom-left-radius: 50% 20%;
	  border-bottom-right-radius: 50% 20%;
	}




	.h-divider {
	  margin: auto;
	  margin-top: 80px;
	  width: 80%;
	  position: relative;
	}

	.h-divider .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.h-divider .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 25px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}

	.h-divider .text {
	  width: 200px;
	  height: 60px;
	  padding: 10px;
	  position: absolute;
	  bottom: 100%;
	  margin-bottom: -33px;
	  left: 50%;
	  margin-left: -60px;
	  border-radius: 100%;
	  box-shadow: 0 2px 4px #999;
	  background: white;
	}

	.h-divider .text i {
	  position: absolute;
	  top: 4px;
	  bottom: 4px;
	  left: 4px;
	  right: 4px;
	  border-radius: 100%;
	  border: 1px dashed #aaa;
	  text-align: center;
	  line-height: 50px;
	  font-style: normal;
	  color: #999;
	}

	.h-divider .text2 {
	  width: 70px;
	  height: 70px;
	  position: absolute;
	  bottom: 100%;
	  margin-bottom: -35px;
	  left: 50%;
	  margin-left: -25px;
	  border-radius: 100%;
	  box-shadow: 0 2px 4px #999;
	  background: white;
	}

	.h-divider img {
	  position: absolute;
	  margin: 4px;
	  max-width: 60px;
	  border-radius: 100%;
	  border: 1px dashed #aaa;
	}



	.Ligne{
	  margin: auto;
	  width: 80%;
	  position: relative;
	}

	.Ligne .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.Ligne .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 25px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}




	/* Partie FaceBook  */

	.GroupementFacebook{
		display:flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		min-height: 80vh;

	}

	.Facebook1{
		margin:30px auto;
		width: 80%;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 50px;
		padding-left: 20px;
	}



	.Facebook1 img{
		max-width: 400px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;
	}

	.Facebook1 .texte{

	}


	.Facebook1 .texte1 h2{
		font-size: 36px;
		margin-bottom: 30px;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook1 .texte1 p{
		font-size: 16px;
		max-width: 600px;
		font-family: system-ui;
		color: white;
	}




	.Facebook2 img{
		max-width: 800px;
		float: right;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;
	}

	.Facebook2{
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 50px;
		padding-right: 270px;
		width: 80%;
	}


	.Facebook2 .texte2 h2{
		font-size: 36px;
		margin-bottom: 20px;
		padding-left:60px;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook2 .texte2 p{
		font-size: 16px;
		max-width: 600px;
		padding-left: 60px;
		font-family: system-ui;
		color: white;
	}


	.Facebook3{
		margin-left:50px;
		margin-right:50px;
		margin-top:50px;
		width: 80%;
		padding-left: 145px;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 50px;
	}

	.Facebook3 img{
		max-width: 400px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;

	}

	.Facebook3 .texte3{

	}


	.Facebook3 .texte3 h2{
		font-size: 36px;
		margin-bottom: 30px;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook3 .texte3 p{
		font-size: 16px;
		max-width: 600px;
		font-family: system-ui;
		color: white;
	}



	/* Partie Actu  */


	.GroupementActus{
		background-image: url(./img/backActu.png);
	}


	.navigateurActu{
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}

	.c11{
		background-image: url(./img/actu1.png);
	}

	.c12{
		background-image: url(./img/actu2.png);
	}

	.c13{
		background-image: url(./img/actu3.png);
	}


	.choixActu{
		background: #EFEFF7;
		width:300px;
		height:600px;
		margin:15px;
		border-radius: 15px;
		border:double #B0F04D;
	}

	.choixActu h2{
		text-align: center;
		font-size: 20px;
		font-family: Georgia, serif;
	}

	.choixActu p{
		padding-top: 20px;
		text-align: center;
		font-size: 18px;
		font-family: system-ui;
	}

	.choixActu a{
		border-radius: 10px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:20px;
	}

	.p1{
		padding-bottom: 122px;
	}


	.p2{
		padding-bottom: 100px;
	}

	.p3{
		padding-bottom: 38px;
	}

	.choixActu .button{
		padding-left: 85px;
	}




	.Actu-image{
		background-color:white;
		height:230px;
		margin-bottom:5px;
		background-size:cover;
		border-radius: 15px;

	}



	/* Partie Evenement  */


	.GroupementEvent{
		background: #F0F0F5;
	}


	.navigateurEvent{
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}

	.c14{
		background-image: url(./img/Eve1.png);
	}

	.c15{
		background-image: url(./img/Eve2.png);
	}



	.Event{
		background: white;
		width:600px;
		height:660px;
		margin:15px;
		border-radius: 15px;
		border:double #A8A8B2;
	}

	.Event h2{
		text-align: center;
		font-size: 20px;
		font-family: Georgia, serif;
		padding-bottom: 100px;
		padding-top: 10px;
	}

	.Event p{
		padding-top: 20px;
		text-align: left;
		font-size: 18px;
		font-family: system-ui;
	}

	.Event a{
		border-radius: 10px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:20px;
	}


	.Ev-image{
		background-color:white;
		height:230px;
		margin-bottom:5px;
		background-size:cover;
		border-radius: 15px;
		border:3px solid black;

	}

	.Event img{
		max-width: 100px;
		float: left;
	}

	.Event .log1{
		padding-left: 60px;
		padding-top: 9px;


	}


	.Event .log2{
		padding-top: 15px;
		padding-left:62px;


	}

	.Event .button{
		padding-left: 225px;
	}



	/*  Partie appli */



	.appli{
		margin-top: 2%;
		display: flex;
		width: 100%;
		height: 850px;
		justify-content: center;
	}

	.appli .screen{
		float: left;
		height: 750px;
	}


	.Pdroit{
		display: grid;
		grid-template-rows: 100px 100px 200px 100px 20px 100px;
		grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
	}

	.Pdroit .Item1{
		grid-row: 3 / 4;
		grid-column: 2 / 8;

	}


	.Pdroit .Item1 h2{
		font-family: Product Sans;
		font-size: 40px;
		font-weight: 700;
	}

	.Pdroit .Item2{
		grid-row: 4 / 5;
		grid-column:  2/ 6;

	}

	.Pdroit .Item2 img{
		width: 100%;
		height: 100px;
	}

	.Pdroit .Item3{
		grid-row: 6 / 7;
		grid-column: 2 / 6;

	}

	.Pdroit .Item3 img{
		width: 100%;
		height: 100px;
	}


	/*  Partie Map */


	.PartieMap .Titre{
		padding-left: 11%;
		padding-top: 200px;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.Map{
		margin-top: 2%;
		display: flex;
		width: 100%;
		height: 850px;
		justify-content: center;
	}

	.Map .ImgMap{
		float: left;
		height: 750px;
		padding-left: 35%;
	}


	.PdroitMap{
		display: grid;
		grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
		grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
	}

	.PdroitMap .Item1{
		grid-row:3/4 ;
		grid-column:1/2 ;

	}

	.PdroitMap .Item1 img{
		width: 100%;
		height: 100%;
		float:left;
	}


	.PdroitMap .Item2{
		grid-row: 3/4;
		grid-column: 2/6;

	}

	.PdroitMap .Item2 h2{
		text-align: left;
		margin-top: 9%;
	}


	.PdroitMap h2{
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}


	.PdroitMap .Item3{
		grid-row:5/6 ;
		grid-column:1/3 ;
	}


	.PdroitMap .Item3 img{
		width: 100%;
		height: 100%;
		float:left;
	}

	.PdroitMap .Item4{
		grid-row:5/6 ;
		grid-column:3/6 ;
	}

	.PdroitMap .Item4 h2{
		text-align: left;
		margin-top: 12%;
	}

	.PdroitMap .fond1{
		grid-row:3/4 ;
		grid-column:1/6 ;
		background-color:#F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}

	.PdroitMap .fond2{
		grid-row:5/6 ;
		grid-column:1/6 ;
		background-color: #F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}





	/* Reseaux sociaux */


	.Smedia h2{
		padding-left: 11%;
		padding-top: 200px;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.BoxSmedia{
		width: 100%;
		height: 400px;
		display: flex;
		justify-content:space-around;
		align-items: center;

	}


	.BoxSmedia .ImgMed{
		width: 257px;
		height: 256px;
	}




	.LogFb{
		display: inline-block;
		text-align: center;
	}


	.LogFb a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}

	.LogYt{
		display: inline-block;
		text-align: center;
	}


	.LogYt a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}


	.LogTwt{
		display: inline-block;
		text-align: center;
	}

	.LogTwt a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}


	.LogPtr{
		display: inline-block;
		text-align: center;
	}

	.LogPtr a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}










	/* footer */



	.footer{
		background:#7a7a7a;;
	}




	.footer h2{
		margin:2%;
	    color: #FFF;
	    font-family: Palanquin Dark;
	    font-size: 4rem;
	    font-style: normal;
	    font-weight: 700;
	    line-height: normal; 
	}




	.RegroupColonne{
		display: flex;
		width: 100%;
		height: 800px;
		align-content: center;
	}

	.left{
		height: 700px;
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.Fimg{
		margin-left: 2%;
		margin-right: 4%;
		height: 100px;
		width: 120px;
		float:left;
	}

	.left p{
		font-size: 36px;
		padding-top: 30px;
		color:white;
	}


	.right{
		height: 700px;
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.right a{
		text-decoration: none;
		font-size: 32px;
		color:white;
		font-family: Palanquin Dark;
		font-style: normal;
		font-weight: 400;
	}
	

	.mail{
		transform: rotate(90deg);
	}



}









@media(max-width: 1268px){

	html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
	}

	/* Partie haut */
	
	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-size: 3.5rem;
    	margin: 2rem 0rem;
    	width: 100%;
    	text-align: center;
    	text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	  flex-direction: column;
	  align-items: center;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 1200px;
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

		flex-direction: column;
   		align-items: center;
	    display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  text-align: center;
      font-size: 3rem;
      margin :1.5rem 0rem;
      width: fit-content;

	  list-style: none;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}




	/*--------------------------------------------------*/
	#img_grandgueret{
	  display: flex;
	  justify-content: center;
	  margin: 10rem 0;
	  margin-bottom: -200px;
	  width: 60%;
	}
	#img_grandgueret img{
	  
	  width: 70%;
	  
	}




	/* Ici c'est juste une petite décoration pour séparer les sections  */


	.separateur {
	  position: relative;
	  background: #2c3e50;
	  height: 15vh;
	}

	.vag {
	  position: absolute;
	  height: 2rem;
	  width: 100%;
	  background: #2c3e50;
	  bottom: 0;
	}

	.vag::before, .vag::after {
	  content: "";
	  display: block;
	  position: absolute;
	  border-radius: 100% 50%;
	}

	.vag::before {
	  width: 55%;
	  height: 109%;
	  background-color: #fff;
	  right: -1.5%;
	  top: 60%;
	}
	.vag::after {
	  width: 55%;
	  height: 100%;
	  background-color: #2c3e50;
	  left: -1.5%;
	  top: 40%;
	}




	.separateur2 {
	  position: relative;
	  background: #2c3e50;
	  height: 20vh;
	  border-bottom-left-radius: 50% 20%;
	  border-bottom-right-radius: 50% 20%;
	}




	.h-divider {
	  margin: auto;
	  margin-top: 80px;
	  width: 80%;
	  position: relative;
	  padding-right: 30px;
	}

	

	.h-divider .text {
	  width: 200px;
	  height: 60px;
	  padding: 10px;
	  position: absolute;
	  bottom: 100%;
	  margin-bottom: -1rem;
	  left: 50%;
	  margin-left: -5.625rem;
	  border-radius: 100%;
	  box-shadow: 0 2px 4px #999;
	  background: white;
	}

	.h-divider .text i {
	  font-size: 1.3rem;
	  position: absolute;
	  top: 4px;
	  bottom: 4px;
	  left: 4px;
	  right: 4px;
	  border-radius: 100%;
	  border: 1px dashed #aaa;
	  text-align: center;
	  line-height: 50px;
	  font-style: normal;
	  color: #999;
	}


	.h-divider .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.h-divider .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 10px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}

	.Ligne{
	  margin: auto;
	  width: 80%;
	  position: relative;
	}

	.Ligne .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.Ligne .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 25px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}




	/* Partie FaceBook  */

	.GroupementFacebook{
		display:flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		min-height: 80vh;

	}

	.Facebook1{
		margin-top:3rem;
		width: 80%;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
	}



	.Facebook1 img{
		max-width: 180px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;
	}



	.Facebook1 .texte1 h2{
		font-size: 2rem;
		margin-bottom: 0.625rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook1 .texte1 p{
		font-size: 1.25rem;
		max-width: 100%;
		font-family: system-ui;
		color: white;
	}




	.Facebook2 img{
		max-width: 180px;
		float: right;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:0.625rem;
	}

	.Facebook2{
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
		width: 80%;
		padding-left: 1rem;
	}


	.Facebook2 .texte2 h2{
		font-size: 2rem;
		margin-bottom: 0.625rem;
		padding-left:1rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook2 .texte2 p{
		font-size: 1.25rem;
		max-width: 100%;
		padding-left: 1rem;
		font-family: system-ui;
		color: white;
	}


	.Facebook3{
		width: 80%;
		padding-left: 1rem;
		padding-right: 0.0625rem;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
	}

	.Facebook3 img{
		max-width: 200px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;

	}

	.Facebook3 .texte3{

	}


	.Facebook3 .texte3 h2{
		font-size: 2rem;
		margin-bottom: 0.5rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook3 .texte3 p{
		font-size: 1.25rem;
		max-width: 100%;
		font-family: system-ui;
		color: white;
	}



	/*  Partie appli */



	.appli{
		margin-top: 18%;
		display: flex;
		width: 100%;
		height: 800px;
		justify-content: center;
	}

	.appli .screen{
		float: left;
		height: 700px;
		width: 30%;
	}


	.Pdroit{
		width: 50%;
		display: grid;
		height: 80%;
		grid-template-rows: repeat(10,4rem);
		grid-auto-columns: repeat(12,3rem);

	}

	.Pdroit .Item1{
		grid-row:2/3 ;
		grid-column:2/11;
		text-align: center;
	}


	.Pdroit .Item1 h2{
		font-family: Product Sans;
		font-size: 2rem;
		font-weight: 700;
	}

	.Pdroit .Item2{
		grid-row:5/6;
		grid-column:3/10;

	}

	.Pdroit .Item2 img{
		width: 100%;
		height: 3rem;
	}

	.Pdroit .Item3{
		grid-row:7/8;
		grid-column:3/10;

	}

	.Pdroit .Item3 img{
		width: 100%;
		height: 3rem;
	}



		/* Partie Actu  */


	.GroupementActus{
		background-image: url(./img/backActu.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin:0.3rem auto;
	}


	.navigateurActu{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.c11{
		background-image: url(./img/actu1.png);

	}

	.c12{
		background-image: url(./img/actu2.png);
	}
	

	.c13{
		background-image: url(./img/actu3.png);
	}
	


	.choixActu{
		background: #EFEFF7;
		width:90%;
		height:850px;
		margin:0.8rem;
		border-radius: 15px;
		border:double #B0F04D;
	}

	.choixActu h2{
		text-align: center;
		font-size: 2rem;
		font-family: Georgia, serif;
	}

	.choixActu p{
		padding-top: 0.3125rem;
		text-align: center;
		font-size: 1.3rem;
		font-family: system-ui;
	}

	.choixActu a{
		border-radius: 2.5px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:15px;
		font-size: 1.5rem;
	}

	.p1{
		padding-bottom: 122px;
	}


	.p2{
		padding-bottom: 100px;
	}

	.p3{
		padding-bottom: 38px;
	}

	.choixActu .button{
		text-align: center;
	}




	.Actu-image{
		background-color:white;
		height:60%;
		width: 100%;
		margin-bottom:5px;
		background-size:cover;
		border-radius: 15px;
		background-repeat: no-repeat;

	}





	/* Partie Evenement  */


	.GroupementEvent{
		background: #F0F0F5;
	}


	.navigateurEvent{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.c14{
		background-image: url(./img/Eve1.png);
	}

	.c15{
		background-image: url(./img/Eve2.png);
	}



	.Event{
		background: white;
		width:90%;
		height:40rem;
		margin:15px;
		border-radius: 15px;
		border:double #A8A8B2;
	}

	.Event h2{
		text-align: center;
		font-size: 1.8rem;
		font-family: Georgia, serif;
		padding-bottom: 1rem;
		padding-top: 0.25rem;
	}

	.Event p{
		padding-top: 1rem;
		text-align: left;
		font-size: 1.25em;
		font-family: system-ui;
	}

	.Event a{
		border-radius: 10px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:20px;
		font-size: 1.5rem;
	}


	.Ev-image{
		background-color:white;
		height:160px;
		margin-bottom:5px;
		background-size:cover;
		background-repeat: no-repeat;
		border-radius: 15px;
		border:3px solid black;

	}

	.Event img{
		max-width: 100px;
		float: left;
	}

	.Event .log1{
		padding-left: 1.6rem;
		padding-top: 0.25rem;
		padding-right: 1rem;
		height:55px; 
		width:55px;
	}


	.Event .log2{
		padding-left: 2rem;
		padding-right: 2rem;
		height:50px; 
		width:50px;
	}

	.Event .button{
		text-align: center;
		padding-left: 1rem;
	}




	/*  Partie Map */


	.PartieMap .Titre{
		padding-left: 11%;
		padding-top: 0.5rem;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.Map{
		margin-top: 30%;
		display: flex;
		width: 100%;
		height: 70rem;
		justify-content: center;
		flex-direction: column;
	}

	.Map .ImgMap{
		height: 60rem;
		width: 100%;
		float: inline-start;
	}


	.PdroitMap{
	display: grid;
	grid-template-rows: repeat(10,5rem);
	grid-template-columns: repeat(10,10%); 
	}

	.PdroitMap .Item1{
		grid-row:2/3 ;
		grid-column:1/2 ;

	}

	.PdroitMap .Item1 img{
		width: 100%;
		height: 100%;
		float:left;
	}


	.PdroitMap .Item2{
		grid-row: 2/3;
		grid-column: 2/5;

	}

	.PdroitMap .Item2 h2{
		text-align: left;
		margin-top: 9%;
	}


	.PdroitMap h2{
		font-family: Product Sans;
		font-size: 1.5rem;
		font-weight: 700;
	}


	.PdroitMap .Item3{
		grid-row:2/3 ;
		grid-column:6/8 ;
	}


	.PdroitMap .Item3 img{
		width: 100%;
		height: 100%;
		float:left;
	}

	.PdroitMap .Item4{
		grid-row:2/3 ;
		grid-column:8/10 ;
	}

	.PdroitMap .Item4 h2{
		text-align: left;
		margin-top: 12%;
	}

	.PdroitMap .fond1{
		grid-row:2/3 ;
		grid-column:1/5 ;
		background-color:#F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}

	.PdroitMap .fond2{
		grid-row:2/3 ;
		grid-column:6/10 ;
		background-color: #F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}






	/* Reseaux sociaux */


	.Smedia h2{
		padding-left: 11%;
		padding-top: 200px;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.BoxSmedia{
		width: 100%;
		height: 400px;
		display: flex;
		justify-content:space-around;
		align-items: center;

	}


	.BoxSmedia .ImgMed{
		width: 251px;
		height: 250px;
	}




	.LogFb{
		display: inline-block;
		text-align: center;
	}


	.LogFb a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}

	.LogYt{
		display: inline-block;
		text-align: center;
	}


	.LogYt a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}


	.LogTwt{
		display: inline-block;
		text-align: center;
	}

	.LogTwt a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}


	.LogPtr{
		display: inline-block;
		text-align: center;
	}

	.LogPtr a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.5rem;
		color:black;
	}












/* footer */



	.footer{
		background:#7a7a7a;;
	}




	.footer h2{
		margin:2%;
	    color: #FFF;
	    font-family: Palanquin Dark;
	    font-size: 4rem;
	    font-style: normal;
	    font-weight: 700;
	    line-height: normal; 
	}




	.RegroupColonne{
		display: flex;
		width: 100%;
		height: 800px;
		align-content: center;
		flex-direction: column;
	}

	.left{
		height: 500px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	.Fimg{
		margin-left: 2%;
		margin-right: 4%;
		height: 60px;
		width: 70px;
		float:left;
	}

	.left p{
		font-size: 1.5rem;
		color:white;
	}


	.right{
		height: 400px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content:space-around;
		background-color: #B6B6B6;
	}

	.right a{
		text-decoration: none;
		font-size: 2rem;
		color:white;
		font-family: Palanquin Dark;
		font-style: normal;
		font-weight: 400;
	}



	.mail{
		transform: rotate(90deg);
	}

}










@media(max-width: /*430*/1000px){

	html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
	}

/* Partie haut */
	
	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-size: 3.5rem;
    	margin: 2rem 0rem;
    	width: 100%;
    	text-align: center;
    	text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	  flex-direction: column;
	  align-items: center;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 1200px;
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

		flex-direction: column;
   		align-items: center;
	    display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  text-align: center;
      font-size: 3rem;
      margin :1.5rem 0rem;
      width: fit-content;

	  list-style: none;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}




	/*--------------------------------------------------*/
	#img_grandgueret{
	  display: flex;
	  justify-content: center;
	  margin: 10rem 0;
	  margin-bottom: -200px;
	  width: 60%;
	}
	#img_grandgueret img{
	  
	  width: 70%;
	  
	}


	/* Ici c'est juste une petite décoration pour séparer les sections  */


	.separateur {
	  position: relative;
	  background: #2c3e50;
	  height: 15vh;
	}

	.vag {
	  position: absolute;
	  height: 2rem;
	  width: 100%;
	  background: #2c3e50;
	  bottom: 0;
	}

	.vag::before, .vag::after {
	  content: "";
	  display: block;
	  position: absolute;
	  border-radius: 100% 50%;
	}

	.vag::before {
	  width: 55%;
	  height: 109%;
	  background-color: #fff;
	  right: -1.5%;
	  top: 60%;
	}
	.vag::after {
	  width: 55%;
	  height: 100%;
	  background-color: #2c3e50;
	  left: -1.5%;
	  top: 40%;
	}




	.separateur2 {
	  position: relative;
	  background: #2c3e50;
	  height: 20vh;
	  border-bottom-left-radius: 50% 20%;
	  border-bottom-right-radius: 50% 20%;
	}




	.h-divider {
	  margin: auto;
	  margin-top: 80px;
	  width: 80%;
	  position: relative;
	  padding-right: 30px;
	}

	

	.h-divider .text {
	  width: 200px;
	  height: 60px;
	  padding: 10px;
	  position: absolute;
	  bottom: 100%;
	  margin-bottom: -1rem;
	  left: 50%;
	  margin-left: -5.625rem;
	  border-radius: 100%;
	  box-shadow: 0 2px 4px #999;
	  background: white;
	}

	.h-divider .text i {
	  font-size: 1.3rem;
	  position: absolute;
	  top: 4px;
	  bottom: 4px;
	  left: 4px;
	  right: 4px;
	  border-radius: 100%;
	  border: 1px dashed #aaa;
	  text-align: center;
	  line-height: 50px;
	  font-style: normal;
	  color: #999;
	}


	.h-divider .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.h-divider .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 10px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}

	.Ligne{
	  margin: auto;
	  width: 80%;
	  position: relative;
	}

	.Ligne .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.Ligne .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 25px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}




	/* Partie FaceBook  */

	.GroupementFacebook{
		display:flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		min-height: 80vh;

	}

	.Facebook1{
		margin-top:3rem;
		width: 80%;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
	}



	.Facebook1 img{
		max-width: 50px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;
	}



	.Facebook1 .texte1 h2{
		font-size: 1rem;
		margin-bottom: 0.625rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook1 .texte1 p{
		font-size: 0.72rem;
		max-width: 100%;
		font-family: system-ui;
		color: white;
	}




	.Facebook2 img{
		max-width: 100px;
		float: right;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:0.625rem;
	}

	.Facebook2{
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
		width: 80%;
		padding-left: 1rem;
	}


	.Facebook2 .texte2 h2{
		font-size: 1rem;
		margin-bottom: 0.625rem;
		padding-left:1rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook2 .texte2 p{
		font-size: 0.8rem;
		max-width: 100%;
		padding-left: 1rem;
		font-family: system-ui;
		color: white;
	}


	.Facebook3{
		width: 80%;
		padding-left: 1rem;
		padding-right: 0.0625rem;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
	}

	.Facebook3 img{
		max-width: 100px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;

	}

	.Facebook3 .texte3{

	}


	.Facebook3 .texte3 h2{
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook3 .texte3 p{
		font-size: 1rem;
		max-width: 100%;
		font-family: system-ui;
		color: white;
	}



	/*  Partie appli */



	.appli{
		margin-top: 18%;
		display: flex;
		width: 100%;
		height: 40rem;
		justify-content: center;
	}

	.appli .screen{
		float: left;
		height: 39rem;
		width: 50%;
	}


	.Pdroit{
		width: 50%;
		display: grid;
		height: 22rem;
		grid-template-rows: 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;
		grid-auto-columns: repeat(12,0.9375rem);

	}

	.Pdroit .Item1{
		grid-row:2/3 ;
		grid-column:2/11;
		text-align: center;
	}


	.Pdroit .Item1 h2{
		font-family: Product Sans;
		font-size: 1rem;
		font-weight: 700;
	}

	.Pdroit .Item2{
		grid-row:5/6;
		grid-column:3/10;

	}

	.Pdroit .Item2 img{
		width: 100%;
		height: 3rem;
	}

	.Pdroit .Item3{
		grid-row:7/8;
		grid-column:3/10;

	}

	.Pdroit .Item3 img{
		width: 100%;
		height: 3rem;
	}



		/* Partie Actu  */


	.GroupementActus{
		background-image: url(./img/backActu.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin:0.3rem auto;
	}


	.navigateurActu{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.c11{
		background-image: url(./img/actu1.png);

	}

	.c12{
		background-image: url(./img/actu2.png);
	}
	

	.c13{
		background-image: url(./img/actu3.png);
	}
	


	.choixActu{
		background: #EFEFF7;
		width:90%;
		height:780px;
		margin:0.8rem;
		border-radius: 15px;
		border:double #B0F04D;
	}

	.choixActu h2{
		text-align: center;
		font-size: 20px;
		font-family: Georgia, serif;
	}

	.choixActu p{
		padding-top: 0.3125rem;
		text-align: center;
		font-size: 1.125rem;
		font-family: system-ui;
	}

	.choixActu a{
		border-radius: 2.5px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:15px;
	}

	.p1{
		padding-bottom: 122px;
	}


	.p2{
		padding-bottom: 100px;
	}

	.p3{
		padding-bottom: 38px;
	}

	.choixActu .button{
		text-align: center;
	}




	.Actu-image{
		background-color:white;
		height:60%;
		width: 100%;
		margin-bottom:5px;
		background-size:cover;
		border-radius: 15px;
		background-repeat: no-repeat;

	}





	/* Partie Evenement  */


	.GroupementEvent{
		background: #F0F0F5;
	}


	.navigateurEvent{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.c14{
		background-image: url(./img/Eve1.png);
	}

	.c15{
		background-image: url(./img/Eve2.png);
	}



	.Event{
		background: white;
		width:90%;
		height:32rem;
		margin:15px;
		border-radius: 15px;
		border:double #A8A8B2;
	}

	.Event h2{
		text-align: center;
		font-size: .05rem;
		font-family: Georgia, serif;
		padding-bottom: 1rem;
		padding-top: 0.25rem;
	}

	.Event p{
		padding-top: 0.5rem;
		text-align: left;
		font-size: 1em;
		font-family: system-ui;
	}

	.Event a{
		border-radius: 10px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:20px;
	}


	.Ev-image{
		background-color:white;
		height:160px;
		margin-bottom:5px;
		background-size:cover;
		background-repeat: no-repeat;
		border-radius: 15px;
		border:3px solid black;

	}

	.Event img{
		max-width: 100px;
		float: left;
	}

	.info1{
		display: flex;
	}


	.info2 img{
		float: left;
	}

	.info2{
		display: flex;
	}

	.Event .button{
		text-align: center;
		padding-left: 1rem;
	}




	/*  Partie Map */


	.PartieMap .Titre{
		padding-left: 11%;
		padding-top: 0.5rem;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.Map{
		margin-top: 25%;
		display: flex;
		width: 100%;
		height: 50rem;
		justify-content: center;
		flex-direction: column;
	}

	.Map .ImgMap{
		height: 35rem;
		width: 100%;
		float: inline-start;
	}


	.PdroitMap{
	display: grid;
	grid-template-rows: repeat(10,3.6rem);
	grid-template-columns: repeat(10,10%); 
	}

	.PdroitMap .Item1{
		grid-row:2/3 ;
		grid-column:1/2 ;

	}

	.PdroitMap .Item1 img{
		width: 100%;
		height: 100%;
		float:left;
	}


	.PdroitMap .Item2{
		grid-row: 2/3;
		grid-column: 2/5;

	}

	.PdroitMap .Item2 h2{
		text-align: left;
		margin-top: 9%;
	}


	.PdroitMap h2{
		font-family: Product Sans;
		font-size: 1rem;
		font-weight: 700;
	}


	.PdroitMap .Item3{
		grid-row:2/3 ;
		grid-column:6/8 ;
	}


	.PdroitMap .Item3 img{
		width: 100%;
		height: 100%;
		float:left;
	}

	.PdroitMap .Item4{
		grid-row:2/3 ;
		grid-column:8/10 ;
	}

	.PdroitMap .Item4 h2{
		text-align: left;
		margin-top: 12%;
	}

	.PdroitMap .fond1{
		grid-row:2/3 ;
		grid-column:1/5 ;
		background-color:#F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}

	.PdroitMap .fond2{
		grid-row:2/3 ;
		grid-column:6/10 ;
		background-color: #F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}







		/* Reseaux sociaux */


	.Smedia h2{
		padding-left: 11%;
		padding-top: 60px;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.BoxSmedia{
		width: 100%;
		height: 400px;
		display: flex;
		justify-content:space-around;
		align-items: center;

	}


	.BoxSmedia .ImgMed{
		width: 100%;
		height: 140px;
	}




	.LogFb{
		display: inline-block;
		text-align: center;
	}


	.LogFb a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.2rem;
		color:black;
	}

	.LogYt{
		display: inline-block;
		text-align: center;
	}


	.LogYt a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.2rem;
		color:black;
	}


	.LogTwt{
		display: inline-block;
		text-align: center;
	}

	.LogTwt a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.2rem;
		color:black;
	}


	.LogPtr{
		display: inline-block;
		text-align: center;
	}

	.LogPtr a{
		display: block;
		text-decoration: none;
		font-family: Palanquin Dark;
		font-weight: 400;
		font-size: 1.2rem;
		color:black;
	}









/* footer */



	.footer{
		background:#7a7a7a;;
	}




	.footer h2{
		margin:2%;
	    color: #FFF;
	    font-family: Palanquin Dark;
	    font-size: 4rem;
	    font-style: normal;
	    font-weight: 700;
	    line-height: normal; 
	}




	.RegroupColonne{
		display: flex;
		width: 100%;
		height: 800px;
		align-content: center;
		flex-direction: column;
	}

	.left{
		height: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	.Fimg{
		margin-left: 2%;
		margin-right: 4%;
		height: 40px;
		width: 50px;
		float:left;
	}

	.left p{
		font-size: 1rem;
		color:white;
	}


	.right{
		height: 400px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content:space-around;
		background-color: #B6B6B6;
	}

	.right a{
		text-decoration: none;
		font-size: 1rem;
		color:white;
		font-family: Palanquin Dark;
		font-style: normal;
		font-weight: 400;
	}


}






@media(max-width: 660px){



		/* Reseaux sociaux */




	.BoxSmedia .ImgMed{
		width: 100%;
		height: 110px;
	}


	.BoxSmedia .SmText{
		display: none;
	}



	.LogFb{
		display: inline-block;
		text-align: center;

	}


	

	.LogYt{
		display: inline-block;
		text-align: center;

	}


	

	.LogTwt{
		display: inline-block;
		text-align: center;

	}

	

	.LogPtr{
		display: inline-block;
		text-align: center;

	}

	
}















@media(max-width: 430px){
	/* telephone */

	html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
	}
/* Partie haut */
	
	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-size: 3.5rem;
    	margin: 2rem 0rem;
    	width: 100%;
    	text-align: center;
    	text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	  flex-direction: column;
	  align-items: center;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 1200px;
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

		flex-direction: column;
   		align-items: center;
	    display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  text-align: center;
      font-size: 3rem;
      margin :1.5rem 0rem;
      width: fit-content;

	  list-style: none;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}




	/*--------------------------------------------------*/
	#img_grandgueret{
	  display: flex;
	  justify-content: center;
	  margin: 10rem 0;
	  margin-bottom: -200px;
	  width: 60%;
	}
	#img_grandgueret img{
	  
	  width: 70%;
	  
	}



	/* Ici c'est juste une petite décoration pour séparer les sections  */


	.separateur {
	  position: relative;
	  background: #2c3e50;
	  height: 15vh;
	}

	.vag {
	  position: absolute;
	  height: 2rem;
	  width: 100%;
	  background: #2c3e50;
	  bottom: 0;
	}

	.vag::before, .vag::after {
	  content: "";
	  display: block;
	  position: absolute;
	  border-radius: 100% 50%;
	}

	.vag::before {
	  width: 55%;
	  height: 109%;
	  background-color: #fff;
	  right: -1.5%;
	  top: 60%;
	}
	.vag::after {
	  width: 55%;
	  height: 100%;
	  background-color: #2c3e50;
	  left: -1.5%;
	  top: 40%;
	}




	.separateur2 {
	  position: relative;
	  background: #2c3e50;
	  height: 20vh;
	  border-bottom-left-radius: 50% 20%;
	  border-bottom-right-radius: 50% 20%;
	}




	.h-divider {
	  margin: auto;
	  margin-top: 80px;
	  width: 80%;
	  position: relative;
	  padding-right: 30px;
	}

	

	.h-divider .text {
	  width: 200px;
	  height: 80px;
	  padding: 10px;
	  position: absolute;
	  bottom: 100%;
	  margin-bottom: -1rem;
	  left: 50%;
	  margin-left: -5.625rem;
	  border-radius: 100%;
	  box-shadow: 0 2px 4px #999;
	  background: white;
	}

	.h-divider .text i {
	  position: absolute;
	  top: 6px;
	  bottom: 4px;
	  left: 4px;
	  right: 4px;
	  border-radius: 100%;
	  border: 1px dashed #aaa;
	  text-align: center;
	  line-height: 50px;
	  font-style: normal;
	  color: #999;
	}


	.h-divider .shadow {
	  overflow: hidden;
	  height: 20px;
	}

	.h-divider .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 10px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}

	.Ligne{
	  margin: auto;
	  width: 80%;
	  position: relative;
	}

	.Ligne .shadow {
	  overflow: hidden;
	  height: 15px;
	}

	.Ligne .shadow:after {
	  content: '';
	  display: block;
	  margin: -25px auto 0;
	  width: 100%;
	  height: 25px;
	  border-radius: 125px/12px;
	  box-shadow: 0 0 8px black;
	}




	/* Partie FaceBook  */

	.GroupementFacebook{
		display:flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		min-height: 80vh;

	}

	.Facebook1{
		margin-top:3rem;
		width: 80%;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
	}



	.Facebook1 img{
		max-width: 50px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;
	}



	.Facebook1 .texte1 h2{
		font-size: 0.75rem;
		margin-bottom: 0.625rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook1 .texte1 p{
		font-size: 0.5rem;
		max-width: 100%;
		font-family: system-ui;
		color: white;
	}




	.Facebook2 img{
		max-width: 100px;
		float: right;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:0.625rem;
	}

	.Facebook2{
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
		width: 80%;
		padding-left: 1rem;
	}


	.Facebook2 .texte2 h2{
		font-size: 0.75rem;
		margin-bottom: 0.625rem;
		padding-left:1rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook2 .texte2 p{
		font-size: 0.5rem;
		max-width: 100%;
		padding-left: 1rem;
		font-family: system-ui;
		color: white;
	}


	.Facebook3{
		width: 80%;
		padding-left: 1rem;
		padding-right: 0.0625rem;
		background: linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
		border-radius: 1rem;
	}

	.Facebook3 img{
		max-width: 100px;
		float: left;
		border:4px solid #DBD5E3;
		border-radius: 8px;
		margin:10px;

	}

	.Facebook3 .texte3{

	}


	.Facebook3 .texte3 h2{
		font-size: 0.75rem;
		margin-bottom: 0.5rem;
		font-family: Georgia, serif;
		color: white;
	}


	.Facebook3 .texte3 p{
		font-size: 0.5rem;
		max-width: 100%;
		font-family: system-ui;
		color: white;
	}



	/*  Partie appli */



	.appli{
		margin-top: 18%;
		display: flex;
		width: 100%;
		height: 22rem;
		justify-content: center;
	}

	.appli .screen{
		float: left;
		height: 22rem;
		width: 50%;
	}


	.Pdroit{
		width: 50%;
		display: grid;
		height: 22rem;
		grid-template-rows: 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;
		grid-auto-columns: repeat(12,0.9375rem);

	}

	.Pdroit .Item1{
		grid-row:2/3 ;
		grid-column:2/11;
		text-align: center;
	}


	.Pdroit .Item1 h2{
		font-family: Product Sans;
		font-size: 0.7rem;
		font-weight: 700;
	}

	.Pdroit .Item2{
		grid-row:5/6;
		grid-column:3/10;

	}

	.Pdroit .Item2 img{
		width: 100%;
		height: 3rem;
	}

	.Pdroit .Item3{
		grid-row:7/8;
		grid-column:3/10;

	}

	.Pdroit .Item3 img{
		width: 100%;
		height: 3rem;
	}



		/* Partie Actu  */


	.GroupementActus{
		background-image: url(./img/backActu.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin:0.3rem auto;
	}


	.navigateurActu{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.c11{
		background-image: url(./img/actu1.png);

	}

	.c12{
		background-image: url(./img/actu2.png);
	}
	

	.c13{
		background-image: url(./img/actu3.png);
	}
	


	.choixActu{
		background: #EFEFF7;
		width:90%;
		height:780px;
		margin:0.8rem;
		border-radius: 15px;
		border:double #B0F04D;
	}

	.choixActu h2{
		text-align: center;
		font-size: 20px;
		font-family: Georgia, serif;
	}

	.choixActu p{
		padding-top: 0.3125rem;
		text-align: center;
		font-size: 1.125rem;
		font-family: system-ui;
	}

	.choixActu a{
		border-radius: 2.5px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:15px;
	}

	.p1{
		padding-bottom: 122px;
	}


	.p2{
		padding-bottom: 100px;
	}

	.p3{
		padding-bottom: 38px;
	}

	.choixActu .button{
		text-align: center;
	}




	.Actu-image{
		background-color:white;
		height:60%;
		width: 100%;
		margin-bottom:5px;
		background-size:contain;
		background-position: center;
		border-radius: 15px;
		background-repeat: no-repeat;

	}





	/* Partie Evenement  */


	.GroupementEvent{
		background: #F0F0F5;
	}


	.navigateurEvent{
		margin-top: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.c14{
		background-image: url(./img/Eve1.png);
	}

	.c15{
		background-image: url(./img/Eve2.png);
	}



	.Event{
		background: white;
		width:90%;
		height:32rem;
		margin:15px;
		border-radius: 15px;
		border:double #A8A8B2;
	}

	.Event h2{
		text-align: center;
		font-size: .05rem;
		font-family: Georgia, serif;
		padding-bottom: 1rem;
		padding-top: 0.25rem;
	}

	.Event p{
		padding-top: 0.8rem;
		text-align: left;
		font-size: 0.7em;
		font-family: system-ui;
	}

	.Event a{
		border-radius: 10px;
		background:linear-gradient(#58EF0C,#A6E04C);
		text-decoration: none;
		padding:20px;
	}


	.Ev-image{
		background-color:white;
		height:160px;
		margin-bottom:5px;
		background-size:cover;
		background-repeat: no-repeat;
		border-radius: 15px;
		border:3px solid black;

	}

	.Eve-image img{
		float: left;
		padding-bottom: 5px;
	}

	.info1{
		display: flex;
	}


	.info2 img{
		float: left;
	}

	.info2{
		display: flex;
	}



	.Event .button{
		text-align: center;
		padding-left: 1rem;
	}




	/*  Partie Map */


	.PartieMap .Titre{
		padding-left: 11%;
		padding-top: 0.5rem;
		padding-bottom: 2px;
		font-family: Product Sans;
		font-size: 30px;
		font-weight: 700;
	}



	.Map{
		margin-top: 2%;
		display: flex;
		width: 100%;
		height: 44.2rem;
		justify-content: center;
		flex-direction: column;
		margin-bottom: -10rem;
	}

	.Map .ImgMap{
		height: 28rem;
		width: 100%;
		float: inline-start;
	}


	.PdroitMap{
	display: grid;
	grid-template-rows: repeat(10,2.5rem);
	grid-template-columns: repeat(10,10%); 
	}

	.PdroitMap .Item1{
		grid-row:2/3 ;
		grid-column:1/2 ;

	}

	.PdroitMap .Item1 img{
		width: 100%;
		height: 100%;
		float:left;
	}


	.PdroitMap .Item2{
		grid-row: 2/3;
		grid-column: 2/5;

	}

	.PdroitMap .Item2 h2{
		text-align: left;
		margin-top: 9%;
	}


	.PdroitMap h2{
		font-family: Product Sans;
		font-size: 0.6rem;
		font-weight: 700;
	}


	.PdroitMap .Item3{
		grid-row:2/3 ;
		grid-column:6/8 ;
	}


	.PdroitMap .Item3 img{
		width: 100%;
		height: 100%;
		float:left;
	}

	.PdroitMap .Item4{
		grid-row:2/3 ;
		grid-column:8/10 ;
	}

	.PdroitMap .Item4 h2{
		text-align: left;
		margin-top: 12%;
	}

	.PdroitMap .fond1{
		grid-row:2/3 ;
		grid-column:1/5 ;
		background-color:#F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}

	.PdroitMap .fond2{
		grid-row:2/3 ;
		grid-column:6/10 ;
		background-color: #F3F3F3;
		border-radius: 40px;
		box-shadow: 4px 4px 4px #EBEBEB;
	}






	/* Partie Reseaux sociaux */


	.BoxSmedia .ImgMed{
		width: 100%;
		height: 100px;
	}









	/* footer */



	.footer{
		background:#7a7a7a;;
	}




	.footer h2{
		margin:2%;
	    color: #FFF;
	    font-family: Palanquin Dark;
	    font-size: 4rem;
	    font-style: normal;
	    font-weight: 700;
	    line-height: normal; 
	}




	.RegroupColonne{
		display: flex;
		width: 100%;
		height: 800px;
		align-content: center;
		flex-direction: column;
	}

	.left{
		height: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	.Fimg{
		margin-left: 2%;
		margin-right: 4%;
		height: 40px;
		width: 50px;
		float:left;
	}





	.left p{
		font-size: 0.75rem;
		color:white;
	}


	.right{
		height: 400px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content:space-around;
		background-color: #B6B6B6;
	}

	.right a{
		text-decoration: none;
		font-size: 0.75rem;
		color:white;
		font-family: Palanquin Dark;
		font-style: normal;
		font-weight: 400;
	}


	.mail{
		transform: rotate(90deg);
	}


}