@font-face {
  font-family: PalanquinDark;
  src: url(font/PalanquinDark-Regular.ttf);
}

	html,body{
		width: 100%;
		height: 100%;
		margin:0;
		padding: 0;
		overflow-x: hidden;
}


/*  Le haut de la page avec logo et tout */


		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
		}

	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut li a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-family: 'PalanquinDark';
	  font-size: 3.5rem;
	  margin: 5rem 0 2rem 20rem;
	  text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 110%;
	  
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

	  
	  display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  margin: 0 1em;
	  list-style: none;
	  font-size: 1.75em;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}


/* Body */


.Rejoindre{
display: flex;
max-width: 100%;
align-items: center;
flex-direction: column;
margin-bottom: 5%;
} 

.Rejoindre img{
	max-width: 600px;
	border:1% solid #DBD5E3;
	border-radius: 2%;
	margin-top: 2%;
}

.Rejoindre h1{

	color: #000000;
	font-family: Palanquin Dark;
	font-size: 3.6rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.Rejoindre p{

	color: #7e7e7e;
	font-family: Palanquin Dark;
	font-size: 2rem;
	font-style: normal;
	font-weight: 250;
	line-height: normal;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
}


/* Infos Persos */


.form{
	background:#d1d1d1;
	display: grid;
	gap: 3%;
	padding: 1.5%;
}

.form img{
	max-width: 300px;
	grid-column: 3;
	grid-row: 1 / span 5;
	border:1% solid #DBD5E3;
	border-radius: 25%;
	margin-top:3%;
	margin-left: 28%;
}

.L1_infos_persos{
	display: flex;
	grid-column: 1 / span 2;
	grid-row: 1;
	width: 70%;
	margin-left: 13%;
	margin-bottom: 1%;
	justify-content: space-between;
} 

#nom{
	border-radius: 5%;
	margin-top: 5%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: medium;
}

#prenom{
	border-radius: 5%;
	margin-top: 5%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: medium;
}


#email{
	grid-column: 1/span 2;
	grid-row: 2;
	border-radius: 5%;
	margin-bottom: 1%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: medium;
}

#tel{
	grid-column: 1/span 2;
	grid-row: 3;
	border-radius: 5%;
	margin-bottom: 1%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: medium;
}

#raison{
	grid-column: 1/span 2;
	grid-row: 4/span 2;
	border-radius: 5%;
	margin-bottom: 6.5%;
	padding-left: 1%;
	padding-bottom: 5%;
	font-size: medium;
}

#newsletter{
	grid-column: 1;
	grid-row: 5;
	border-radius: 50%;
	margin-bottom: 1%;
	margin-right: 75%;
}

.form label{
	grid-column: 1/span 2;
	grid-row: 5;
	margin-left: 10%;
}

.btn_form{
	grid-column: 1/span 2;
	grid-row: 6;
	width: 14%;
	display: flex;
	margin-left: 40%;
	justify-content: space-between;
}

#submit{
	border-radius: 5%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1rem;
	margin:1px;
	font-size: 1rem;
	border-radius: 2px;
	background:linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
}

#reset{
	border-radius: 5%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1rem;
	margin:1px;
	font-size: 1rem;
	border-radius: 2px;
	background:linear-gradient(90deg, #EEAECA 14.06%, #94BBE9 99.94%);
}


/* footer */



.footer{
	background:#7a7a7a;;
}

.footer h2{
	margin:2%;
	color: #FFF;
	font-family: Palanquin Dark;
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal; 
}

.RegroupColonne{
	display: flex;
	width: 100%;
	height: 800px;
	align-content: center;
}

.left{
	height: 700px;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Fimg{
	margin-left: 2%;
	margin-right: 4%;
	height: 100px;
	width: 120px;
	float:left;
}

.left p{
	font-size: 36px;
	padding-top: 30px;
	color:white;
}

.right{
	height: 700px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.right a{
	text-decoration: none;
	font-size: 32px;
	color:white;
	font-family: Palanquin Dark;
	font-style: normal;
	font-weight: 400;
}

.mail{
	transform: rotate(90deg);
}


	
	/**** Responsive 1 ****/



@media(max-width: /*430*/1000px){

		html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
	}


	/* Partie haut */
	

	html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
	}

/* Partie haut */
	
	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-size: 3.5rem;
    	margin: 2rem 0rem;
    	width: 100%;
    	text-align: center;
    	text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	  flex-direction: column;
	  align-items: center;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 1200px;
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

		flex-direction: column;
   		align-items: center;
	    display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  text-align: center;
      font-size: 3rem;
      margin :1.5rem 0rem;
      width: fit-content;

	  list-style: none;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}



	/* Body */
	.Rejoindre{
		padding-top: 20%;
	}

	.Rejoindre p{
		font-size: 1.5rem;
	}

	.Rejoindre img{
		max-width:300px;
	}

	
	/* Infos Persos */


	.form{
		background:#d1d1d1;
		display: grid;
		gap: 3%;
		padding: 10px;
	}

	.form img{
	display:none;
	}

	.L1_infos_persos{
		display: flex;
		grid-column: 1;
		width: 70%;
		margin-left: 13%;
		margin-bottom: 1%;
		justify-content:center;
	}
		
	#nom{
		grid-row: 1;
		border-radius: 5%;
		margin-top: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}

	#prenom{
		grid-row: 2;
		border-radius: 5%;
		margin-top: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}	
		
	#email{
		grid-column: 1;
		grid-row: 3;
		border-radius: 5%;
		margin-bottom: 1%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}

	#tel{
		grid-column: 1;
		grid-row: 4;
		border-radius: 5%;
		margin-bottom: 1%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}

	#raison{
		grid-column: 1;
		grid-row: 5/span 2;
		border-radius: 5%;
		margin-bottom: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}

	#newsletter{
		grid-column: 1;
		grid-row: 6;
		border-radius: 50%;
		margin-bottom: 1%;
		margin-right: 85%;
	}
	
	.form label{
		grid-column: 1/span 2;
		grid-row: 6;
		margin-left: 10%;
	}

	.btn_form{
		grid-column: 1;
		grid-row: 7;
		width: 14%;
		display: flex;
		margin-left: 40%;
		margin-bottom: 12%;
		justify-content: space-between;
	}

	#submit{
		border-radius: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	#reset{
		border-radius: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
	}


		/* footer */


	.footer{
		background:#7a7a7a;;
	}

	.footer h2{
		margin:2%;
		color: #FFF;
		font-family: Palanquin Dark;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal; 
	}

	.RegroupColonne{
		display: flex;
		width: 100%;
		height: 800px;
		align-content: center;
		flex-direction: column;
	}

	.left{
		height: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	.Fimg{
		margin-left: 2%;
		margin-right: 4%;
		height: 40px;
		width: 50px;
		float:left;
	}

	.left p{
		font-size: 1rem;
		color:white;
	}


	.right{
		height: 400px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content:space-around;
		background-color: #B6B6B6;
	}

	.right a{
		text-decoration: none;
		font-size: 1rem;
		color:white;
		font-family: Palanquin Dark;
		font-style: normal;
		font-weight: 400;
	}
	
}



/**** Responsive 2 - Telephone ****/



@media(max-width: 430px){

	html,body{
			width: 100%;
			height: 100%;
			margin:0;
			padding: 0;
			overflow-x: hidden;
	}
/* Partie haut */
	
	*{
  		z-index: 10;

	}


	video{
  		z-index: 1
	}

	.haut a{
	  width: 100%;
	  height: 100%;
	  text-decoration: none;
	  color: black;
	}
	.haut li{
	  list-style: none;
	  font-family: 'PalanquinDark';
	}

	body{
	  
	  height: fit-content;
	}

	.haut p{
	  font-family: 'OpenSans';
	}
	.haut h2{
	  font-size: 3.5rem;
    	margin: 2rem 0rem;
    	width: 100%;
    	text-align: center;
    	text-decoration: underline;
	}

	.haut{
	  
	  padding: 2rem;
	  display: flex;
	  justify-content: space-around;
	  height: 1080px;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  color: white;
	  padding-bottom: -300px;
	  flex-direction: column;
	  align-items: center;
	}
	.haut video{
	  object-fit: cover;
	  position: absolute;
	  height: 1200px;
	  top: -2%;
	 
	}
	#lien_principal{
	  width: fit-content;
	}
	#btn_connecter{
	  padding: 0.5rem;
	  border-radius: 25px;
	  color: black;
	  background-color: white;
	}
	#btn_connecter:hover{
	  color: rgb(208, 208, 57);
	  transition: all 0.4s ease;
	}

	#logo_grandgueret{
	  height: min-content;
	  border-radius: 30px;
	  width: 20rem;
	  
	  padding: 15px;
	  background-color: white;
	  
	  
	}
	.haut nav{
	  

	}
	.haut nav ul{

		flex-direction: column;
   		align-items: center;
	    display: flex;
	  
	}

	.haut nav ul li{
	  padding: 10px;
	  border-radius: 20px;
	  text-align: center;
	  align-self: center;
	  
	  text-align: center;
      font-size: 3rem;
      margin :1.5rem 0rem;
      width: fit-content;

	  list-style: none;
	  transition: all 0.4s ease;
	  
	}
	.haut nav ul li:hover{
	  background-color: white;
	  color: black;
	  
	  
	}


	/* Body */


	.Rejoindre p{
		font-size: 1rem;
	}

	.Rejoindre img{
		max-width:150px;
	}

	.Rejoindre h1{

		color: #000000;
		font-family: Palanquin Dark;
		font-size: 2rem;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}


	/* Infos Persos */


	.form{
		background:#d1d1d1;
		display: grid;
		gap: 3%;
		padding: 10px;
	}

	.form img{
	display:none;
	}

	.L1_infos_persos{
		display: flex;
		grid-column: 1;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 1%;
		justify-content:center;
	}

	#nom{
		grid-row: 1;
		border-radius: 5%;
		margin-top: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}

	#prenom{
		grid-row: 2;
		border-radius: 5%;
		margin-top: 5%;
		padding-left: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: medium;
	}


	/* footer */


	.footer{
		background:#7a7a7a;;
	}

	.footer h2{
		margin:2%;
		color: #FFF;
		font-family: Palanquin Dark;
		text-align: center;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal; 
	}

	.RegroupColonne{
		display: flex;
		width: 100%;
		height: 800px;
		align-content: center;
		flex-direction: column;
	}

	.left{
		height: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}

	.Fimg{
		margin-left: 2%;
		margin-right: 4%;
		height: 40px;
		width: 50px;
		float:left;
	}

	.left p{
		font-size: 0.75rem;
		color:white;
	}

	.right{
		height: 400px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content:space-around;
		background-color: #B6B6B6;
	}

	.right a{
		text-decoration: none;
		font-size: 0.75rem;
		color:white;
		font-family: Palanquin Dark;
		font-style: normal;
		font-weight: 400;
	}

	.mail{
		transform: rotate(90deg);
	}

}
