*{
  z-index: 10;
  margin: 0;
  padding: 0;
}



.aRest{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
  font-family: 'PalanquinDark';
}

body{
  
  height: fit-content;
}
p{
  font-family: 'OpenSans';
}
h2{
  font-family: 'PalanquinDark';
  font-size: 3.5rem;
  margin: 5rem 0 2rem 20rem;
  text-decoration: underline;
}

header{
  
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
video{
  object-fit: cover;
  position: absolute;
  height: 100%;
  
  top: -2%;
 
}
#lien_principal{
  width: fit-content;
}
#btn_connecter{
  padding: 0.5rem;
  border-radius: 25px;
  color: black;
  background-color: white;
}
#btn_connecter:hover{
  color: rgb(208, 208, 57);
  transition: all 0.4s ease;
}

#logo_grandgueret{
  height: min-content;
  border-radius: 30px;
  width: 20rem;
  
  padding: 15px;
  background-color: white;
  
  
}
nav{
  

}
nav ul{

  
  display: flex;
  
}

nav ul li{
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  align-self: center;
  
  margin: 0 1em;
  list-style: none;
  font-size: 1.75em;
  transition: all 0.4s ease;
  
}
nav ul li:hover{
  background-color: white;
  color: black;
  
  
}




/*--------------------------------------------------*/
#img_grandgueret{
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}
#img_grandgueret img{
  
  width: 70%;
  
}


/*--------------------------------------------------*/

h2{
  
  margin: 0;
  padding: 0;
  text-align: center;
}
/************** BILAL ******************/

.transportmobilite  {
  
}
.transportmobilite h1 {
  
  padding: 15rem 0rem;
  
  font-size: 100px;
  text-align: center;
}

.echelle{
  position: relative;
  padding-top: 5rem;
  transform: scaleY(1.2);
 
  top:-70px;
  
  margin: 2rem;
}

.echelle,
.route {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  flex-wrap: nowrap;
  order: 1;
  grid-row: 1/4;
}
.echelle img {
  margin-top: -50px;
  width: 400px;
}

.dess {
  background-color: #ebebeb;
}

.blanc {
  background-color: white;
  height: 500px;
}
/*-----carte-----*/
.limoges,
.felletin,
.A71,
.rte-ctre-europe,
.A20,
.stlaurent,
.montlucon,
.ai-limoges {
  border-radius: 82px;
  background: #5777b7;
  width: 484px;
  height: 558px;
}



.limoges img,
.felletin img,
.A71 img,
.rte-ctre-europe img,
.A20 img,
.stlaurent img,
.montlucon img,
.ai-limoges img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}

.ferrocontenue {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  
  
}

.ferro h2 {
  color: #000;
  font-family: Passion One;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 2/4;
  grid-row: 1/2;
}

.limoges p,
.felletin p,
.A71 p,
.rte-ctre-europe p,
.A20 p,
.stlaurent p,
.montlucon p,
.ai-limoges p {
  color: #fff;
  text-align: center;
  font-family: Palanquin Dark;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3px;
  width: 450px;
  margin: auto;
  margin-top: 100px;
}
/*----------route-----------------------*/
.route img {
  margin-top: -200px;
  width: 350px;
  margin: 0rem 3rem;
  transform: scaleY(1.4);
  
}

.routcontenue {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}



.rout h2 {
  color: #000;
  font-family: Passion One;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

/*--------------piste--------------------*/



.piste img {
  width: 350px;
  margin: 0rem;
}

.aercontenue {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.piste {
  flex-wrap: nowrap;
  order: 1;
  grid-row: 1/4;
  margin: 0 3rem
}

.aerien h2 {
  color: #000;
  font-family: Passion One;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

/*---------------------AERER---------------------*/

.poursaerer {
  padding: 5rem 0rem;
  background: #e8ffd6;
  display: flex;
  flex-direction: column;
  
  
  justify-content: space-around;
  gap: 100px;
}








.poursaerer h1 {
  margin: auto;
  
  background-color: white;
  color: #698651;
  text-align: center;
  font-family: PoetsenOne;
  font-size: 250px;

  
 
 
  align-self: flex-end;
  border-radius: 144px;
  width: 90%;
  justify-self: center;
}

.loups {
  
  order: 2;
  
  background-image: url(img/fondloup.png);


  border-radius: 90px;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 5fr;
  height: 900px;
  
}

.montagne {
  
  order: 3;
  background-image: url(img/fondmontagne.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 5fr;
  height: 1207px;
  
}

.biblio {
  
  order: 4;
  background-image: url(img/fondbiblio.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 5fr;
  height: 1001px;
  
}

.loups h3 {
  color: #212e18;
  text-align: center;
  font-family: Rammetto One;
  font-size: 101px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  width: 75%;
}

.montagne h3 {
  color: #d7ffb8;
  text-align: center;
  font-family: Rammetto One;
  font-size: 101px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  width: 75%;
}

.biblio h3 {
  color: #cabdff;
  text-align: center;
  font-family: Rammetto One;
  font-size: 101px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  width: 75%;
}

.loups img {
  
  align-self: center;
  justify-self: center;
  width: 50%;
}

.montagne img {
  
  align-self: center;
  justify-self: center;
  width: 65%;
}

.biblio img {
  
  align-self: center;
  justify-self: center;
  width: 50%;
}

.loups p {
  
  color: #1a2d0e;
  text-align: justify;
  font-family: Rammetto One;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  width: 85%;
}

.montagne p {
  
  color: #d7ffb8;
  text-align: justify;
  font-family: Rammetto One;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  justify-self: center;
  width: 70%;
}

.biblio p {
 
  color: #d4b9ff;
  text-align: justify;
  font-family: Rammetto One;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  width: 85%;
}
/*-------------------------------reseaux---------------------------------------*/





.offredemploi h1 {
  margin-top: 100px;
  flex-shrink: 0;
  color: #000;
  font-family: Palanquin Dark;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.contenueemploi {
  
  background-color: rgba(255, 156, 101, 0.36);
}

.bloc {
  background-color: white;
  border-radius: 94px;
  width: 500px;
  
}

.flexemploi {
  padding: 2rem 0rem;
  
  display: flex;
  gap: 70px;
  
  justify-content: space-around;
  flex-wrap: wrap;
}

.bloc > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-wrap: wrap;
}

.bloc > p {
  font-size: 1.5rem;
  
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: normal;
  width: 380px;
  margin: auto;
}

.lirelasuite {
  display: flex;
  flex-direction: row;
/*align-items: center;
  *//*justify-content: flex-start;
*/
}

.lirelasuite img {
margin: 50px 0 75px 50px;
order: 1;
}

.lirelasuite p {
  order: 2;
align-self: center;
  /*margin: auto;
*/}
/*
bloc {
display: grid;
grid-template-columns: 15% 85%;
  grid-template-rows: 50% 35% 15%;
}
*/





/*-----------reseaux---------------*/
#reseaux_sociaux{
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  padding: 3rem 0rem;

}
#ensemble_reseaux{
  
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  
}
.reseau{
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.reseau:hover{
  transform: scale(1.05);
  
}

.reseau a{
  display: flex;
  
  
  justify-content: center;
}

.reseau p{
  
  font-size: 2rem;
  text-align: center;
  font-family: 'PalanquinDark';
}



/*-----------------footer--------------------*/

footer{
  color: white;
  background-color: rgb(65, 65, 65);
  height: fit-content;
  
}
h3{
  padding: 3rem;
  font-size: 3rem;
}
#info_footer{
  display: flex;
  justify-content: space-between;
}
#info_footer ul{
  
  width: 50%;
}
#info_footer #svg_footer li{
  font-size: 1.8rem;
  margin-left: 5vw;
  display: flex;
  margin: 1rem 0rem;
  align-items: baseline;
  
 
}
#info_footer #svg_footer li img{
  margin-right: 1rem;
 
}

#info_footer #text_footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
 
}
#info_footer #text_footer li{
  text-align: center;
  height: 100%;
  
  font-size: 1.8rem;
  padding: 1.5rem 0rem;
  
  transition: all 0.5s ease;
 
}
#info_footer #text_footer li:hover{
  background-color: white;
  color: black;
 
}








@media screen and (max-width : 1330px){
  h2{
    font-size: 3.5rem;
    margin: 2rem 0rem;
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
  header{
    flex-direction: column;
    align-items: center;
  }
  video{
    height: 1200px;
   
  }
  nav ul{
    flex-direction: column;
    align-items: center;
  }
  nav ul li{
    text-align: center;
    font-size: 3rem;
    margin :1.5rem 0rem;
    width: fit-content;
  }
  #logo_grandgueret{
    width: 60%;
  }
  #rapports_dactivites {
   justify-content: center;
  }
  .panneau_entreprise p{
    text-align: justify;
  }

  #ensemble_reseaux{
   flex-direction: column;
    
  }
  #info_footer{
    flex-direction: column;
  }
  #info_footer ul{
    margin-bottom: 3rem;
    width: 100%;
  }
}